@model AgencyBizBook.Entities.Product
@{
    ViewBag.Title = "Create New Product";
}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Products</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">BizBook</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Products</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div>
        <!-- end page-title -->
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name)
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Name", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NetWeight)
                                @Html.EditorFor(model => model.NetWeight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Net Weight (Mililiters)", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.NetWeight, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchasePrice)
                                @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Purchase Price", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SalePrice)
                                @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sale Price", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                                        Submit
                                    </button>
                                    <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                        Reset
                                    </button>
                                    <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-success waves-effect m-l-5">
                                        Back
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
    </div>
</div>
<!-- content -->
