<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewBag.Title - BizBook</title>
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    @Styles.Render("~/Site/Styles")
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/Home/Index" class="logo">
                    <span class="logo-light">
                        <i class="mdi mdi-camera-control"></i> BizBook
                    </span>
                    <span class="logo-sm">
                        <i class="mdi mdi-camera-control"></i>
                    </span>
                </a>
            </div>

            <nav class="navbar-custom">
                <ul class="navbar-right list-inline float-right mb-0">
                    <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                        <a class="nav-link waves-effect" href="javascript:document.getElementById('logoutForm').submit()">
                            @HttpContext.Current.User.Identity.Name&nbsp;
                            <i class=" fas fa-power-off fa-1x text-danger"></i>
                        </a>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </li>
                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Menu</li>
                        <li>
                            <a href="/Home/Index" class="waves-effect">
                                <i class="icon-accelerator"></i><span class="badge badge-success badge-pill float-right">9+</span> <span> Dashboard </span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-box"></i><span> Products <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Product/Create">New Product</a></li>
                                <li><a href="/Product/Index">View Products</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-cart-arrow-down"></i><span> Purchases <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Purchase/Create">New Purchase</a></li>
                                <li>@Html.ActionLink("Todays Purchases", "Index", "Purchase", new { today = true }, null)</li>
                                <li>@Html.ActionLink("Current Month Purchases", "Index", "Purchase", new { currentMonth = true }, null)</li>
                                <li><a href="/Purchase/Index">View Purchases</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-cart-plus"></i><span> Sales <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Sale/Create">New Sale</a></li>
                                <li>@Html.ActionLink("Todays Sales", "Index", "Sale", new { today = true }, null)</li>
                                <li>@Html.ActionLink("Current Month Sales", "Index", "Sale", new { currentMonth = true }, null)</li>
                                <li><a href="/Sale/Index">View Sales</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-boxes"></i><span> Stock  <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Stock/Index">Current Stock</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-clock"></i><span> Stock History<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Stock/DriverStockLog">Driver Stock Log</a></li>
                                <li><a href="#" onclick="showDriverStockOutModal(this);">Driver Stock Transaction</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="far fa-credit-card"></i><span> Payments <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Payment/Index">View Balance Sheet</a></li>
                                <li>@Html.ActionLink("Customer Ledger", "Index", "Payment", new { customerLedger = true }, null)</li>
                                <li>@Html.ActionLink("Supplier Ledger", "Index", "Payment", new { supplierLedger = true }, null)</li>
                                <li>@Html.ActionLink("Employee Ledger", "Index", "Payment", new { employeeLedger = true }, null)</li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-tags"></i><span> Expenses Category<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="#" onclick="showDefaultModal(this);">New Category</a></li>
                                <li><a href="/Payment/ExpenseCategories">View Categories</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-file-invoice-dollar"></i><span> Expenses <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Payment/AddExpense">New Expense</a></li>
                                <li>@Html.ActionLink("Todays Expense", "Expenses", "Payment", new { today = true }, null)</li>
                                <li>@Html.ActionLink("Monthly Expenses", "Expenses", "Payment", new { currentMonth = true }, null)</li>
                                <li><a href="/Payment/Expenses">View Expenses</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-cube"></i><span> Liabilities <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Liability/Create">New Liability</a></li>
                                <li><a href="/Liability/Index">View Liabilities</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-cubes"></i><span> Liabilities Stock <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Liability/LiabilityStock">View Liabilities Stock</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class=" fas fa-exchange-alt"></i><span> Liability Transactions <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Liability/LiabilityTransactions">View Transactions</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-dollar-sign"></i><span> Investments <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li><a href="/Investment/Create">New Investment</a></li>
                                <li><a href="/Investment/Index">View Investments</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-user-friends "></i><span> Manage Users <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                            <ul class="submenu">
                                <li>@Html.ActionLink("New Employee", "CreateEmployee", "Account")</li>
                                <li>@Html.ActionLink("New Customer", "CreateCustomer", "Account")</li>
                                <li>@Html.ActionLink("View Customers", "Customers", "Account")</li>
                                <li>@Html.ActionLink("View Employees", "Index", "Employee")</li>
                                <li>@Html.ActionLink("View Drivers", "Index", "Employee", new { drivers = true }, null)</li>
                                <li>@Html.ActionLink("View Salesman", "Index", "Employee", new { salesMen = true }, null)</li>
                                <li>@Html.ActionLink("View Accountants", "Index", "Employee", new { accountants = true }, null)</li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">

            @RenderBody()
            <footer class="footer">
                © @DateTime.Now.Year BizBook <span class="d-none d-sm-inline-block"> - Developed By <a href="http://www.codembeded.com/" target="_blank">Codembeded</a></span>.
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <div class="modal bd-example-modal-lg" id="myModal2" data-request-url="@Url.Action("DriverStockOut","Stock")" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"></div>
    <div class="modal bd-example-modal-lg" id="dModal" data-request-url="@Url.Action("AddExpenseCategory","Payment")" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"></div>
    <!-- END wrapper -->
    @Scripts.Render("~/Site/Scripts")
    @RenderSection("scripts", required: false)

</body>

</html>